<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;
        </button>
        <h4 class="modal-title" id="myFeedbackLabel">{{ 'hindakogemustApp.feedback.home.createOrEditLabel' | translate
            }} > {{vm.place.name}}</h4>
    </div>
    <div class="modal-body">
        <jhi-alert></jhi-alert>
        <div class="form-group" ng-show="vm.feedback.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.feedback.id" readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hindakogemustApp.feedback.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   ng-model="vm.feedback.name"
                   required ng-minlength="2"/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                   ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.name.$error.minlength" data-translate="entity.validation.minlength"
                   translate-value-min="2">
                    This field is required to be at least 2 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hindakogemustApp.feedback.comment"
                   for="field_comment">Comment</label>
            <textarea class="form-control" name="comment" id="field_comment"
                      ng-model="vm.feedback.comment" required></textarea>
            <div ng-show="editForm.comment.$invalid">
                <p class="help-block"
                   ng-show="editForm.comment.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hindakogemustApp.feedback.rating">Rating</label>
            <p></p>
            <input-stars max="10" ng-model="vm.feedback.rating"></input-stars>
            &nbsp;<strong>({{vm.feedback.rating ? vm.feedback.rating : 0}} / 10)</strong>
            <div ng-show="!vm.feedback.rating">
                <p class="help-block" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
            data-translate="entity.action.back">Back</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving || !vm.feedback.rating"
                class="btn btn-primary">
            <span class="glyphicon glyphicon-send"></span>&nbsp;<span data-translate="entity.action.send">Send</span>
        </button>
        <h3 class="text-left" ng-if="vm.feedbacks.length"><strong>Teiste hinnangud</strong></h3><br/>
        <div class="text-left" ng-repeat="feedback in vm.feedbacks">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title pull-left">
                        <strong>{{feedback.name}} ({{feedback.rating}}/10)</strong>
                    </div>
                    <div class="panel-title pull-right">
                        <button ng-if="vm.isAuthenticated()" ng-click="vm.deleteFeedback(feedback.id)" class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    {{feedback.comment}}
                </div>
            </div>
        </div>
    </div>
</form>
