<div>
    <h2 data-translate="hindakogemustApp.feedback.home.title">Feedbacks</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="feedback.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="hindakogemustApp.feedback.home.createLabel">
                        Create new Feedback
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'hindakogemustApp.feedback.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="hindakogemustApp.feedback.name">Name</span></th>
                    <th><span data-translate="hindakogemustApp.feedback.comment">Comment</span></th>
                    <th><span data-translate="hindakogemustApp.feedback.rating">Rating</span></th>
                    <th><span data-translate="hindakogemustApp.feedback.place">Place</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="feedback in vm.feedbacks track by feedback.id">
                    <td><a ui-sref="feedback-detail({id:feedback.id})">{{feedback.id}}</a></td>
                    <td>{{feedback.name}}</td>
                    <td>{{feedback.comment}}</td>
                    <td>{{feedback.rating}}</td>
                    <td>
                        <a ui-sref="place-detail({id:feedback.place.id})">{{feedback.place.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="feedback-detail({id:feedback.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="feedback.edit({id:feedback.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="feedback.delete({id:feedback.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
